<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height:80vh">

        <div class="col-7">

            <div class="page-header">
                <h1>สร้างใบคำร้องทั่วไป</h1> 
            </div>


            <form ng-submit='crud.createForm(regData)'>
                <div class="row">
                    <div class="col">
                        <label>รหัสนักศึกษา :</label>
                        <input disabled="true" class="form-control" type="text" name="studentId" placeholder="กรุณาใส่ รหัสนักศึกษา" ng-model='newStudentId'>
                    </div>
                    <div class="col">
                        <label>ชื่อ-นามสกุล :</label>
                        <input disabled="true" class="form-control" type="text" name="studentId" placeholder="กรุณาใส่ ชื่อ-นามสกุล" ng-model='newStudentName'>
                    </div>
                </div>

                <br>
                
                <div class="row">
                    <div class="col">
                        <label>เรื่อง :</label>
                        <input class="form-control" type="text" name="title" placeholder="กรุณาใส่ ชื่อเรื่อง" ng-model='crud.regData.title'>
                    </div>
                    <div class="col">
                        <label>ชั้นปี :</label>
                        <input class="form-control" type="text" name="year" placeholder="กรุณาใส่ ชั้นปี" ng-model='crud.regData.year'>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col">
                        <label>เบอร์โทรศัพท์ :</label>
                        <input class="form-control" type="text" name="tel" placeholder="กรุณาใส่ เบอร์โทรศัพท์" ng-model='crud.regData.tel'>
                    </div>
                    <div class="col col-md-2">
                        <label for="term 0">เทอมต้น :</label><br>
                        <input type="radio" id="0" name="term" value="ต้น" ng-model='crud.regData.term'>
                    </div>
                    <div class="col col-md-2">
                        <label for="term 1">เทอมปลาย :</label><br>
                        <input type="radio" id="1" name="term" value="ปลาย" ng-model='crud.regData.term'>
                    </div>
                    <div class="col col-md-2">
                        <label for="term 2">ซัมเมอร์ :</label><br>
                        <input type="radio" id="2" name="term" value="ซัมเมอร์" ng-model='crud.regData.term'>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col">
                        <label>รายละเอียด :</label>
                        <textarea rows=”4”  cols= “6” class="form-control" type="text" name="description" placeholder="กรุณาใส่ รายละเอียด" ng-model='crud.regData.description'></textarea> 
                    </div>
                </div>

                <br>
                <div class="d-flex justify-content-center">
                    <button style="border-radius:30px;color:rgb(0, 0, 0);" type="submit">สร้างใบคำร้อง</button>
                </div>

            </form>

        </div>

    </div>
    
</div>















    <!--
        <div class="text-center" ng-show='main.loading' >
            <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
            </div>
            <h3>Loading....</h3>
        </div>


        <div class="row show-hide-message" ng-show="createForm1.successMsg">
            <div class="alert alert-success">  {{ createForm1.successMsg }}</div>
        </div>

        <br>

        <div class="row show-hide-message" ng-show="createForm1.errorMsg">
            <div class="alert alert-danger"> {{ createForm1.errorMsg }}  </div>
        </div>
        -->
