<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <div class="row justify-content-center align-items-center">

    <div class="col-50">

<div class="page-header" align = 'center'>
    <h1>จัดการใบคำร้อง</h1>
</div>

<div class="panel panel-success">
    <div class="panel-heading" style="text-align: center;"><strong>รายการใบคำร้อง</strong></div> 
    
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">รหัสนักศึกษา</th>
                    <th scope="col">ชื่อนักศึกษา</th>
                    <th scope="col">เรื่อง</th>
                    <th scope="col">เทอม</th>
                    <th scope="col">ชั้นปี</th>
                    <th scope="col">เบอร์โทรศัพท์</th>
                    <th scope="col">รายละเอียด</th>
                    <th scope="col">สถานะ</th>
                    <th class="align-center" scope="col">การจัดการ</th>
                </tr>
            </thead>
            <!-- | filter: main.username | filter: 'un-submit'-->
            <tbody>
                <tr ng-repeat="form in crud.forms">
                    <td scope="row">{{form.studentId}}</td>
                    <td>{{form.studentName}}</td>
                    <td>{{form.title}}</td>
                    <td>{{form.term}}</td>
                    <td>{{form.year}}</td>
                    <td>{{form.tel}}</td>
                    <td>{{form.description}}</td>
                    <td>{{form.formStatus}}</td>
                    <td class"col-12 col-lg-auto justify-content-center d-flex flex-wrap">
                    <!-- <button type="button" ng-click="crud.submitRequestForm(form._id)" class="btn btn-success">ยืนยัน</button> -->
                    <a ng-show="!{{form.isSubmit}}" href="/edit/{{form._id}}"> <button type="button" class="btn btn-warning">จัดการใบคำร้อง</button></a>
                    <a ng-show="{{form.isSubmit}}"> <button ng-disabled="true" type="button" class="btn btn-warning">จัดการใบคำร้อง</button></a>
                    <!-- <button type="button" ng-click="crud.deleteRequestForm(form._id)" class="btn btn-danger">ลบ</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>