<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <div class="row justify-content-center align-items-center">

    <div class="col-50">

<div class="page-header">
    <h1>รายการคำร้อง</h1>
</div>

<div class="panel panel-success">
    <div class="panel-heading" style="text-align: center;"><strong>รายการคำร้อง</strong></div> 
    
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td align="center" scope="col">รหัสนักศึกษา</th>
                    <td align="center" scope="col">ชื่อนักศึกษา</th>
                    <td align="center" scope="col">เรื่อง</th>
                    <td align="center" scope="col">เทอม</th>
                    <td align="center" scope="col">ชั้นปี</th>
                    <td align="center" scope="col">เบอร์โทรศัพท์</th>
                    <td align="center" scope="col">รายละเอียด</th>
                    <td align="center" scope="col">วันที่สร้าง</th>
                    <td align="center" scope="col">สถานะ</th>
                    <td align="center" scope="col">การจัดการ</th>
                </tr>
            </thead>
            <!-- | filter: main.username | filter: 'un-submit'-->
            <tbody>
                <tr ng-repeat="form in crud.forms | filter: 'submit'">
                    <td align="center" scope="row">{{form.studentId}}</td>
                    <td>{{form.studentName}}</td>
                    <td>{{form.title}}</td>
                    <td align="center">{{form.term}}</td>
                    <td align="center">{{form.year}}</td>
                    <td align="center">{{form.tel}}</td>
                    <td>{{form.description}}</td>
                    <td align="center">{{form.create}}</td>
                    <td align="center">{{form.formStatus}}</td>
                    <td class="col-lg-auto justify-content-center d-flex">
                        <a href="/approve-Advisor/{{form._id}}"> <button type="button" class="btn btn-warning">จัดการใบคำร้อง</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>