<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <div class="row justify-content-center align-items-center">

    <div class="col-50">

<div class="page-header" align = 'center'>
    <h1>รายการคำร้อง</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading" style="text-align: center;"><strong style="font-size: large;">รายการคำร้อง</strong></div>
    
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td align="center" ng-click="sort('studentId')" scope="col">รหัสนักศึกษา</td>
                    <td align="center" scope="col">ชื่อนักศึกษา</td>
                    <td align="center" scope="col">เรื่อง</td>
                    <td align="center" scope="col">เทอม</td>
                    <td align="center" ng-click="sort('year')" scope="col">ชั้นปี</td>
                    <!-- <td align="center" scope="col">เบอร์โทรศัพท์</td> -->
                    <td align="center" scope="col">รายละเอียด</td>
                    <td align="center" ng-click="sort('create')" scope="col">วันที่สร้าง</td>
                    <td align="center" ng-click="sort('formStatus')" scope="col">สถานะ</td>
                    <td align="center" scope="col">การจัดการ</td>
                </tr>
            </thead>
            <tbody>
                <td style="vertical-align: middle;width:1%;"><input class="form-control" type="text" name="studentId" ng-model='studentIdFilter'></td>
                <td style="vertical-align: middle;width:8%;"><input class="form-control" type="text" name="studentName" ng-model='studentNameFilter'></td>
                <td style="vertical-align: middle;width:8%;"><input class="form-control" type="text" name="title" ng-model='titleFilter'></td>
                <td style="vertical-align: middle;width:2%;"><input class="form-control" type="text" name="term" ng-model='termFilter'></td>
                <td style="vertical-align: middle;width:2%;"><input class="form-control" type="text" name="year" ng-model='yearFilter'></td>
                <!-- <td style="vertical-align: middle;width:0%;"><input class="form-control" type="text" name="studentId" ng-model='telFilter'></td> -->
                <td style="vertical-align: middle;width:15%;"><input class="form-control" type="text" name="description" ng-model='descriptionFilter'></td>
                <td style="vertical-align: middle;width:5%;"><input class="form-control" type="text" name="create" ng-model='createFilter'></td>
                <td style="vertical-align: middle;width:2%;"><input class="form-control" type="text" name="formStatus" ng-model='formStatusFilter'></td>
                <td style="vertical-align: middle;width:6%;" align="center">
                    <a> <button class="b-search" ng-click="crud.search()" style="border-radius:30px;">ค้นหา</button></a>
                </td>
            </tbody>
            <!-- | filter: main.username | filter: 'un-submit'-->
            <tbody>
                <tr ng-repeat="form in crud.forms | orderBy: sortKey:reverse | filter: {executiveApprove: 'true'} |
                filter: {studentId: newStudentIdFilter}|
                filter: {studentName: newStudentNameFilter}|
                filter: {title: newTitleFilter}| 
                filter: {term: newTermFilter}| 
                filter: {year: newYearFilter}| 
                filter: {description: newDescriptionFilter}| 
                filter: {create: newCreateFilter}|
                filter: {formStatus: newFormStatusFilter}">
                    <td style="vertical-align: middle;" align="center" scope="row">{{form.studentId}}</td>
                    <td style="vertical-align: middle;">{{form.studentName}}</td>
                    <td style="vertical-align: middle;">{{form.title}}</td>
                    <td style="vertical-align: middle;" align="center">{{form.term}}</td>
                    <td style="vertical-align: middle;" align="center">{{form.year}}</td>
                    <!-- <td style="vertical-align: middle;" align="center">{{form.tel}}</td> -->
                    <td style="vertical-align: middle;">{{form.description}}</td>
                    <td style="vertical-align: middle;" align="center">{{form.create}}</td>
                    <td style="vertical-align: middle;" align="center">
                        <span ng-show="{{form.isRejected}} && !{{form.isSubmit}} && !{{form.advisorApprove}} && !{{form.executiveApprove}} && !{{form.isProcessed}}" class="badge bg-danger">{{form.formStatus}}</span>
                        <span ng-show="!{{form.isRejected}} && !{{form.isSubmit}} && !{{form.advisorApprove}} && !{{form.executiveApprove}} && !{{form.isProcessed}}" class="badge">{{form.formStatus}}</span>
                        <span ng-show="!{{form.isRejected}} && {{form.isSubmit}} && !{{form.advisorApprove}} && !{{form.executiveApprove}} && !{{form.isProcessed}}" class="badge bg-warning">{{form.formStatus}}</span>
                        <span ng-show="!{{form.isRejected}} && {{form.isSubmit}} && {{form.advisorApprove}} && !{{form.executiveApprove}} && !{{form.isProcessed}}" class="badge bg-info">{{form.formStatus}}</span>
                        <span ng-show="!{{form.isRejected}} && {{form.isSubmit}} && {{form.advisorApprove}} && {{form.executiveApprove}} && !{{form.isProcessed}}" class="badge bg-primary">{{form.formStatus}}</span>
                        <span ng-show="!{{form.isRejected}} && {{form.isSubmit}} && {{form.advisorApprove}} && {{form.executiveApprove}} && {{form.isProcessed}}" class="badge bg-success">{{form.formStatus}}</span>
                    </td>
                    <td style="vertical-align: middle;" align="center">
                        <a ng-show="!{{form.isProcessed}}"  href="/implement/{{form._id}}"> <button class="b-manage" style="border-radius:30px;">ดำเนินการ</button></a>
                        <a ng-show="{{form.isProcessed}}" href="/view/{{form._id}}"> <button class="b-view" style="border-radius:30px;">ดูใบคำร้อง</button></a>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>