<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="container">

    <div class="row justify-content-center align-items-center" style="height:80vh">

        <div class="col-7">

            <div class="page-header d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <h1 class="col-12 col-lg-auto me-lg-auto justify-content-center m-0">การจัดการใบคำร้อง</h1>
                <span class="badge bg-info col-12 col-lg-auto me-lg-0 justify-content-center mb-0">Status : {{newFormStatus}}</span>
            </div>


        <form ng-submit='edit.updateRequestForm(regData)'>
            <div class="row">
                <div class="col">
                    <label>รหัสนักศึกษา :</label>
                    <input disabled="true" class="form-control" type="text" name="studentId" placeholder="กรุณาใส่ รหัสนักศึกษา" ng-model='newStudentId'>
                </div>
                <div class="col">
                    <label>ชื่อ-นามสกุล :</label>
                    <input disabled="true" class="form-control" type="text" name="studentId" placeholder="กรุณาใส่ ชื่อ-นามสกุล" ng-model='newStudentName'>
                </div>
            </div>

            <br>
            
            <div class="row">
                <div class="col">
                    <label>เรื่อง :</label>
                    <input disabled="true" class="form-control" type="text" name="title" placeholder="กรุณาใส่ ชื่อเรื่อง" ng-model='newTitle'>
                </div>
                <div class="col">
                    <label>ชั้นปี :</label>
                    <input disabled="true" class="form-control" type="text" name="year" placeholder="กรุณาใส่ ชั้นปี" ng-model='newYear'>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col">
                    <label>เบอร์โทรศัพท์ :</label>
                    <input disabled="true" class="form-control" type="text" name="tel" placeholder="กรุณาใส่ เบอร์โทรศัพท์" ng-model='newTel'>
                </div>
                <div class="col col-md-2">
                    <label for="term 0">เทอมต้น :</label><br>
                    <input disabled="true" type="radio" id="0" name="term" value="ต้น" ng-model='newTerm'>
                </div>
                <div class="col col-md-2">
                    <label for="term 1">เทอมปลาย :</label><br>
                    <input disabled="true" type="radio" id="1" name="term" value="ปลาย" ng-model='newTerm'>
                </div>
                <div class="col col-md-2">
                    <label for="term 2">ซัมเมอร์ :</label><br>
                    <input disabled="true" type="radio" id="2" name="term" value="ซัมเมอร์" ng-model='newTerm'>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col">
                    <label>รายละเอียด :</label>
                    <textarea disabled="true" rows=”4”  cols= “6” class="form-control" type="text" name="description" placeholder="กรุณาใส่ รายละเอียด" ng-model='newDescription'></textarea> 
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col">
                    <label>ความเห็นอาจารย์ที่ปรึกษา :</label>
                    <textarea disabled="true" rows=”4”  cols= “6” class="form-control" type="text" name="advisorComment" placeholder="กรุณาใส่ รายละเอียด" ng-model='newAdvisorComment'></textarea> 
                </div>
                <div class="col">
                    <label>ความเห็นคณะบดี :</label>
                    <textarea disabled="true" rows=”4”  cols= “6” class="form-control" type="text" name="executiveComment" placeholder="กรุณาใส่ รายละเอียด" ng-model='newExecutiveComment'></textarea> 
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col">
                    <label>ความเห็นสำนักทะเบียน :</label>
                    <textarea disabled="true" rows=”4”  cols= “6” class="form-control" type="text" name="closedNote" placeholder="กรุณาใส่ รายละเอียด" ng-model='newClosedNote'></textarea> 
                </div>
            </div>

            <br>

            <div class="row show-hide-message" ng-show="edit.successMsg">
                <div class="alert alert-success">  {{ edit.successMsg }}</div>
            </div>
        
            <br>
        
            <div class="row show-hide-message" ng-show="edit.errorMsg">
                <div class="alert alert-danger"> {{ edit.errorMsg }}  </div>
            </div>

            <br>

            <div class="d-flex justify-content-center">
                <div class="col-6 justify-content-around d-flex">
                    <button ng-show="newExecutiveApprove" type="button" style="border-radius:30px;color:rgb(0, 0, 0);" ng-click="" class="btn-verify">ตรวจสอบ</button>
                    <!-- <a ng-show="true" href="/view/6293222a831181790ba05fbc"> <button type="button" style="border-radius:30px;color:rgb(0, 0, 0);">ทดสอบ</button></a> -->
                </div>
            </div>
        
        </form>
        <br>
        <br>


        </div>

    </div>

</div>




















            <!-- อันเก่า VVVVVVV 
                
            <div class="col-6">


            <label>รหัสนักศึกษา :</label>
                <input class="form-control" type="text" name="studentId" placeholder="กรุณาใส่ รหัสนักศึกษา" ng-model='newStudentId'>
            <br>

            <label>ชื่อ-นามสกุล :</label>
                <input class="form-control" type="text" name="studentName" placeholder="กรุณาใส่ ชื่อ-นามสกุล" ng-model='newStudentName'>
            <br>

            <label>เรื่อง :</label>
                <input class="form-control" type="text" name="title" placeholder="กรุณาใส่ ชื่อเรื่อง" ng-model='newTitle'>
            <br>

            <label for="term 0">เทอมต้น :</label>
                <input type="radio" regData="0" name="term" value="ต้น" ng-model='newTerm'>
            <br>

            <label for="term 1">เทอมปลาย :</label>
                <input type="radio" regData="1" name="term" value="ปลาย" ng-model='newTerm'>
            <br>

            <label for="term 2">ซัมเมอร์ :</label>
                <input type="radio" regData="2" name="term" value="ซัมเมอร์" ng-model='newTerm'>
            <br>
            <br>
                
            <label>ชั้นปี :</label>
                <input class="form-control" type="text" name="year" placeholder="กรุณาใส่ ชั้นปี" ng-model='newYear'>
            <br>
                
            <label>เบอร์โทรศัพท์ :</label>
                <input class="form-control" type="text" name="tel" placeholder="กรุณาใส่ เบอร์โทรศัพท์" ng-model='newTel'>
            <br>
            </div>

            <label>รายละเอียด:</label>
            <textarea rows=”4”  cols= “6” class="form-control" type="text" name="description" placeholder="กรุณาใส่ รายละเอียด" ng-model='newDescription'>
            </textarea> 
            <br/>-->









    <!--
        <div class="text-center" ng-show='main.loading' >
            <div class="spinner-border" role="status">
                <span class="visually-hregDataden"></span>
            </div>
            <h3>Loading....</h3>
        </div>


        <div class="row show-hregDatae-message" ng-show="editForm1.successMsg">
            <div class="alert alert-success">  {{ editForm1.successMsg }}</div>
        </div>

        <br>

        <div class="row show-hregDatae-message" ng-show="editForm1.errorMsg">
            <div class="alert alert-danger"> {{ editForm1.errorMsg }}  </div>
        </div>
        -->