main{
    padding-top: 30px;
}

button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 1px solid transparent;
	font-weight: bold;
	padding: 7px 15px;
	border-radius: 15px;
    font-weight:bold;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 1px solid #f9004d;
	cursor: pointer;
}

.L{
	color: #f9004d;
	font-size: 36px;
	letter-spacing: 1.5px;
	cursor: pointer;
}

.L:hover{
	transition: .4s;
}

.L:focus{
	color: #ffffff;
	transition: .4s;
}

.Logo{
	color: white;
	font-size: 32px;
	letter-spacing: 1.5px;
	cursor: pointer;
}

.Logo:hover{
	color: #f9004d;
	transition: .4s;
}

.Logo:focus{
	color: #ffffff;
	transition: .4s;
}

.Txt{
	color: white;
	font-size: 15.5px;
	letter-spacing: 0.2px;
	cursor: pointer;
}


.Txt:hover{
	color: #f9004d;
	transition: .4s;
}

.Txt:focus{
	color: #ffffff;
	transition: .4s;
}
/* main{
    padding-top: 30px;
}
header.navbar{
    border-radius:0 ;

} */

/* .Logo a{
	color: white;
	font-size: 32px;
	letter-spacing: 1.5px;
	cursor: pointer;
}

.Logo a:hover{
    font-style: none;
	text-decoration: none;
	color: #f9004d;
	transition: .4s;
}

.Logo a:focus{
    font-style: none;
	text-decoration: none;
	color: #ffffff;
	transition: .4s;
}

.txt a{
	color: white;
	font-size: 18px;
	letter-spacing: 1px;
	cursor: pointer;
    font-style: none;
	text-decoration: none;
}

.txt a:hover{
    font-style: none;
	text-decoration: none;
	color: #f9004d;
	transition: .5s;
}

.txt a:focus{
    font-style: none;
	text-decoration: none;
	color: #ffffff;
	transition: .5s;
}

button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
} */



/*show and hide*/
.show-hide-message.ng-hide-remove{
    -webkit-animation: zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    animation:  zoomIn 0.3s both ease;
}

/*animation*/
.spinner{
    -webkit-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
    animation:  spin 1s infinite;
}
@keyframes spin {
    from {transform :rotate(0deg);}
    to {transform :rotate(360deg);}
}

@-webkit-keyframes spin{
    from {-webkit-transition :rotate(0deg);}
    to {-webkit-transition :rotate(360deg);}
}

@-moz-keyframes spin{
    from {-moz-transition :rotate(0deg);}
    to {-moz-transition :rotate(360deg);}
}
/* 
.headMenu{
    list-style-type: style;
}

li{
}

li.headMenu{
    list-style-type: disc;
    display: inline-block;
}

li.headMenu:hover {
    background-color: rgb(0, 0, 0);
} */
/* 
li.headMenu a{
    transition: all 0s ease 0s;
}

li.headMenu a:hover {
    color: rgb(0, 0, 0);
}

button.btn-custom1 {
    background-color: rgba(248, 217, 80, 0.89);
    color:rgb(0, 0, 0)
}

button.btn-custom2 {
    background-color: rgba(248, 189, 80, 0.637);
    color:rgba(0, 0, 0, 0.377)
} */

