<div class="page-header">
    <h1>User Registeration</h1> 
</div>


<form ng-submit='register.regUser(regData)'>

    <!-- Email-->
    <label>Email:</label>
    <input class="form-control" type="text" name="email" placeholder="please enter email" ng-model='register.regData.email'>
    <br>

    <!--Username-->

    <label>username:</label>
    <input class="form-control" type="text" name="username" placeholder="please enter username" ng-model='register.regData.username'>
    <br>

    <!--Password-->

    <label>password:</label>
    <input class="form-control" type="text" name="password" placeholder="please enter password" ng-model='register.regData.password'>
    <br>
    <button class = "btn btn-primary" type="submit">Register</button>

</form>

<br>

<div class="jumbotron text-center" ng-show='register.loading' >
    <div class="spinner-border" role="status">
        <span class="visually-hidden"></span>
      </div>
      <h1>Loading....</h1>
</div>
s


<div class="row show-hide-message" ng-show="register.successMsg">
    <div class="alert alert-success">  {{ register.successMsg }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="register.errorMsg">
    <div class="alert alert-danger"> {{ register.errorMsg }}  </div>
</div>