<div class="page-header">
    <h1>User Registeration</h1> 
</div>


<from ng-submit="register.regUser();">

    <!-- Email-->
    <label>Email:</label>
    <input class="form-control" type="text" name="email" placeholder="please enter email">
    <br>

    <!--Username-->

    <label>username:</label>
    <input class="form-control" type="text" name="username" placeholder="please enter username">
    <br>

    <!--Password-->

    <label>password:</label>
    <input class="form-control" type="text" name="password" placeholder="please enter password">
    <br>
    <button class = "btn btn-primary" type="submit">Register</button>

</from>