<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height:80vh">

    <div class="col-4">

        <div class="page-header">
            <h1>เพิ่มผู้ใช้งาน</h1> 
        </div>


        <form ng-submit='register.regUser(regData)'>



            <!-- Name-->
            <div class="row">
                <label>Name :</label>
                    <input class="form-control" type="text" name="name" placeholder="please enter name" ng-model='register.regData.name'>
                <br>
            </div>

            <br>

            <!-- Email-->
            <div class="row">
                <label>Email :</label>
                    <input class="form-control" type="text" name="email" placeholder="please enter email" ng-model='register.regData.email'>
                <br>
            </div>

            <br>

            <!--Username-->

            <div class="row">
                <label>Id :</label>
                    <input class="form-control" type="text" name="username" placeholder="please enter username" ng-model='register.regData.username'>
                <br>
            </div>

            <br>

            <!--Password-->

            <div class="row">
                <label>Password :</label>
                    <input class="form-control" type="password" name="password" placeholder="please enter password" ng-model='register.regData.password'>
                <br>
            </div>

            <br>


            <!-- <label>Permission:</label>
                <input class="form-control" type="text" name="permission" placeholder="please enter permission" ng-model='register.regData.permission'>
            <br> -->

            <div class="row">
                <div class="col">
                  <label>Permission :</label>
                </div>
                <div class="col-lg-5">
                  <select id="permission" name="permission" ng-model='register.regData.permission'>
                    <option value="student">Student</option>
                    <option value="advisor">Advisor</option>
                    <option value="executive">Executive</option>
                    <option value="rd">Registration Department</option>
                  </select>
                </div>
            </div>


            
            <!-- <label for="student">Student</label>
                <input type="radio" id="student" name="permission" value="student" ng-model='register.regData.permission'>
            <br>

            <label for="advisor">Advisor</label>
                <input type="radio" id="advisor" name="permission" value="advisor" ng-model='register.regData.permission'>
            <br>

            <label for="executive">Executive</label>
                <input type="radio" id="executive" name="permission" value="executive" ng-model='register.regData.permission'> -->
            <br>
           
            <div>
                <button class="b-success" style="border-radius:30px;" type="submit">เพิ่มผู้ใช้งาน</button>
            </div>

        </form>

        <br>

        <div class="text-center" ng-show='main.loading' >
            <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
            </div>
            <h3>Loading....</h3>
        </div>


        <div class="row show-hide-message" ng-show="register.successMsg">
            <div class="alert alert-success">  {{ register.successMsg }}</div>
        </div>

        <br>

        <div class="row show-hide-message" ng-show="register.errorMsg">
            <div class="alert alert-danger"> {{ register.errorMsg }}  </div>
        </div>

    </div>

    </div>
</div>